.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: #ffffff;
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    height: 30vh;
    width: auto;
    left: 20px;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainers svg {
    font-size: 3rem;
}

.conferenceView { 
    display: flex;
    padding:5px;
    gap: 10px;
}

.conferenceView > video {
    width: 20vw;
    height: 15vh;
    min-width: 30vw;
    border-radius: 30px;
}


.chatRoom {
    position: absolute;
    height: 98vh;
    top:10px;
    background-color:#9169c1;
    /* opacity: 0.5; */
    background-size: cover;
    /* text-align: center; */
    right: 10px;
    /* color:rgb(187, 154, 18); */
    /* background: white; */
    border-radius: 10px;
    width: 30vw;
    padding-inline: 20px;
}

.chatContainer {
    position: relative;
    height: 100%;
}


.chattingArea {
    position: absolute;
    bottom: 20px;
}
